<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>

<footer>
    <p>{{message welcome}}</p>
    <p>Copywrite {{getCurrentYear}}</p>
</footer>
</html>