<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{{>header}}
</body>
<a href="https://boiling-lowlands-18363.herokuapp.com/">Home Page</a> <br>
<a href="https://boiling-lowlands-18363.herokuapp.com/weather">WeatherPage</a>
{{>footer}}

</html>