<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
{{>header}}


</body>
<a href="https://boiling-lowlands-18363.herokuapp.com/info">Info Page</a> <br>
<a href="https://boiling-lowlands-18363.herokuapp.com/weather">WeatherPage</a>
{{>footer}}

</html>