<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
{{>header}}
</body>
<a href="http://localhost:8080/">Home Page</a>
<a href="http://localhost:8080/info">Info Page</a> <br>
{{>footer}}


</html>